<li>
    <p>
        <%= comment.content %>
        <%= comment.user.name %>
    
        <% if( locals.user && locals.user.id == comment.user.id ) { %>
            <a href="/comments/destroy/<%= comment.id%>">Delete</a>
        <% } %>
    </p>
</li>