
<section id="feed-post">
    <h4>Posts</h4>
     <% if(locals.user) { %> <!--Checking for the autentication that user is Signed in or not -->
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" id="" cols="30" rows="3"></textarea>
            <input type="submit" value="Post">
        </form>
    <% } %>
    <div id="post-list-container">
        <ul>
            <% for(post of posts) { %> 
                <%- include('_post') -%>
            <% } %>
        </ul>
    </div>
</section>

<script src="js/home_posts.js" type = "text/javascript"></script>