<h1>Welcome on Sign In</h1>

<form action="/craete-session" method="post">
    
    
   
    <input type="email" name="email" placeholder="Enter your Email" required>
    <input type="password" name="password" placeholder="Enter your passwrod" required>
    
    <input type="submit" value="Sign In">

</form>